*{
    margin: 0;
    padding: 0;
    list-style: none;
}
input:focus{
    outline:none;
}
@font-face {
    font-family: 'iconfont';  /* project id 528215 */
    src: url('//at.alicdn.com/t/font_528215_pqgwzhdtse154s4i.eot');
    src: url('//at.alicdn.com/t/font_528215_pqgwzhdtse154s4i.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_528215_pqgwzhdtse154s4i.woff') format('woff'),
    url('//at.alicdn.com/t/font_528215_pqgwzhdtse154s4i.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_528215_pqgwzhdtse154s4i.svg#iconfont') format('svg');
}
.iconfont{
    font-family: 'iconfont';
}
i{
    font-style: normal;
}
a,input,img{
    display: block;
    text-decoration: none;
}
body{
    background-color: #F2F2F2;
}
.ng_toolbar{
    width: 100%;
    height: 36px;
    background-color: #F5F5F5;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
}
.ng_toolbar_box{
    width: 1190px;
    height: 100%;
    margin: 0 auto;
}
.ng_toolbar_left{
    width: 370px;
    height: 100%;
    float: left;
}
.ng_toolbar_left span{
    color: #666;
    font-family: "Microsoft yahei" !important;
    font-size: 12px;
    line-height: 35px;
    box-sizing: border-box;
    position: relative;
    float: left;
    padding: 0 15px;
    background: #F5F5F5;
}
.ng_toolbar_left span.active{
    border: 1px solid #ccc;
    border-bottom: none;
    line-height: 34px;
    padding: 0 14px;
    box-sizing: border-box;
    background: #fff;
}
.ng_toolbar_left span>p{
    width: 100%;
    height: 1px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -1px;
    z-index: 300;
    display: none;
    overflow: hidden;
}
.ng_toolbar_left a:hover{
    color: red;
}
.ng_toolbar_left span>ul{
    border: 1px solid #ccc;
    height: 0;
    background: #fff;
    position: absolute;
    left: -1px;
    top: 100%;
    overflow: hidden;
    display: none;
    z-index: 40;
}
.ng_toolbar_a1 span ul{
    width: 990px;
}
.ng_toolbar_a1 span ul li{
    width: 20%;
    padding-left: 20px;
    border-right: 1px solid #ccc;
    box-sizing: border-box;
    float: left;
}
.ng_toolbar_a1 span ul li:last-of-type{
    border-right:none;
}
.ng_toolbar_a1 span ul li h1{
    width: 100%;
    font-size: 12px;
    color: #666;
    float: left;
}
.ng_toolbar_a1 span ul li a{
    display: block;
    width: 50%;
    height: 22px;
    font-size: 10px;
    color: #666;
    float: left;
}
.ng_toolbar_a2 span ul{
    width: 155px;
}
.ng_toolbar_a2 span:hover{
    color: red;
}
.ng_toolbar_a2 span ul a{
    display: block;
    width: 50%;
    height: 22px;
    font-size: 10px;
    text-align: center;
    color: #666;
    float: left;
}
.ng_toolbar_a3 span ul{
    width: 155px;
}
.ng_toolbar_a3 span ul a{
    display: block;
    width: 50%;
    height: 22px;
    font-size: 10px;
    text-align: center;
    color: #666;
    float: left;
}
.ng_toolbar_a4{
    position: relative;
}
.ng_toolbar_a4 span{
    margin-left: 20px;

}
.ng_toolbar_a4 i{
    position: absolute;
    right: 105px;
    top: 10px;
    width: 12px;
    height: 15px;
    z-index: 20;
    background: url(../img/index.png) -387px -183px;
}
.ng_toolbar_right a{
    color: #666;
    font-family: "Microsoft yahei" !important;
    font-size: 12px;
    line-height: 35px;
    padding-right: 18px;
    float: right;
}
.ng_toolbar_right a:hover{
    color: red;
}
.ng_toolbar_right .shop{
    color: #FE6600;
}
.ng_toolbar_right .shop i{
    float: left;
    margin: 0 7px 0 7px;
    font-size: 14px;
    width: 16px;
    line-height: 35px;

}
.ng_toolbar_right .shop:hover{
    background-color: #fff;
}
.bg_container{
    width: 1190px;
    height: 110px;
    margin: 0 auto;
}
.logo{
    width: 190px;
    height: 90px;
    background-image: url(../img/logo.png);
    background-size: 190px 90px;
    float: left;
}
.search{
    width: 600px;
    height: 100px;
    margin-left: 110px;
    float: left;
}
.search_btn{
    width: 120px;
    height: 40px;
    background-color: #FF9900;
    font-family: 'MicroSoft YaHei';
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    color: #FFF;;
    margin-top: 30px;
    float: right;
}
.search_box{
    width: 420px;
    height: 40px;
    padding: 0 0 0 28px;
    border: 2px solid #FA0;
    border-right: none;
    box-sizing: border-box;
    margin-top: 30px;
    float: right;
    position: relative;
    background-color: #fff;
}
.search_box i{
    font-size: 14px;
    color: #CCCED7;
    position: absolute;
    background-color: #fff;
    left: 8px;
    top: 13px;
    z-index:0 ;
}
.search-word{
    width: 390px;
    height: 36px;
    border: none;
}
.head_active{
    width: 80px;
    height: 80px;
    border: 1px solid #EEE;
    box-sizing: border-box;
    background-color: rosybrown;
    background-image: url("../img/weixin.png");
    background-size: 74px;
    background-position: center;
    margin-top: 10px;
    float: right;
}
/*导航栏结束*/
.container{
    width: 1190px;
    height: 38px;
    margin: 0 auto;
}
.container_left{
    width: 190px;
    height: 38px;
    background-color: #FF9900;
    position: relative;
    float: left;
}
.container_left i{
    font-size: 12px;
    color: #fff;
    margin-left: 9px;
}
.container_left span{
    font-size: 12px;
    color: #fff;
    line-height: 38px;
}

.container_nav{
    width: 720px;
    height: 38px;
    margin-left: 23px;
    float: left;
}
.container_nav a{
    font-size: 14px;
    color: #000;
    padding-right: 26px;
    float: left;
    line-height: 38px;
}
.container_nav a:last-child{
    padding-right: 0;
}
.container_right{
    width: 170px;
    height: 38px;
    background: url("../img/150271436155347363.png") ;
    float: right;
}
/*导航栏开始*/
/*banner开始*/
.bgbox{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.banner{
    width: 1190px;
    height: 440px;
    background-color: #F2F2F2;
    margin: 0 auto;
    position: relative;
}
.banner_left{
    width: 545px;
    height: 440px;
    background: url("../img/151435513427967861.png") no-repeat;
    position: absolute;
    left: -355px;
    top: 0;
    z-index: 0;
}
.banner_right{
    width: 545px;
    height: 440px;
    background: url("../img/151435514528832333.png") no-repeat;
    position: absolute;
    right: -376px;
    top: 0;
    z-index: 0;
}
aside{
    display: inline-block;
    width: 190px;
    height: 440px;
    background: #252221;
    position: relative;
}
aside ul li{
    width: 190px;
    height: 31px;
    padding: 0 10px 0 8px;
    line-height: 31px;
}
aside ul li:first-child,aside ul li:nth-child(2),aside ul li:nth-child(3),aside ul li:nth-child(4){
    height: 32px;
    line-height: 32px;
}
aside ul li:hover{
    background: #fff;
}
aside ul li i{
    color: #FEA903;
    font-size: 12px;
    float: left;
    margin-right: 3px;
}
aside ul li a{
    font-size: 12px;
    color: #fff;
    float: left;
}
aside ul li a:hover{
    color: #F60;
}
aside ul li:hover a{
    color: #333;
}
aside ul li em{
    color: #777;
    padding: 0 2px;
    font-size: 12px;
    float: left;
}
.aside_list{
    position: absolute;
    left: 190px;
    top: 0;
    z-index: 11;
}
.aside_list li{
    width: 1001px;
    height: 444px;
    background: #fff;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}
.aside_list li.active{
    display: block;
}
.banner_img {
    width: 830px;
    height: 440px;
    position: relative;
    left: 190px;
    top: -440px;
}
.banner_img .b1{
    width: 830px;
    height: 440px;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}
.banner_img .b1.active{
    display: block;
}
.banner_img img {
    width: 100%;
}

.banner_tg{
    width: 150px;
    height: 430px;
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 10;
}
.banner_tg a{
    width: 150px;
    height: 213px;
    background: #F3E5E6;
    overflow: hidden;
}
.banner_tg a p{
    width: 112px;
    height: 22px;
    font-size: 13px;
    color: #000;
    text-align: left;
    line-height: 22px;
    margin: 17px auto 0;
}
.banner_tg a p:last-of-type{
    width: 112px;
    height: 18px;
    font-size: 12px;
    color: #666;
    text-align: left;
    line-height: 18px;
    margin: 0 auto;
}
.banner_tg a img{
    display: block;
    width: 140px;
    margin-top: 0;
    margin-left: 5px;
}
.banner_tg a:last-child{
    margin-top: 5px;
}
.banner_tg .tu2 img{
    display: block;
    width: 140px;
    height: 140px;
    margin-top: 0;
    margin-left: 5px;
}
.first_right{
    width: 170px;
    height: 430px;
    background-color: #fff;
    position: absolute;
    right: -170px;
    top: 5px;

}
.first_right .user{
    width: 170px;
    height: 155px;
    padding: 11px 0 2px;
    border-bottom: 1px solid #f2f2f2;
}
.user_img{
    position: relative;
    width: 52px;
    height: 52px;
    margin: 0 auto;
    background: url(../img/index.png) -93px -23px;
}
.first_right .infor{
    width: 150px;
    height: 24px;
    margin: 8px auto 0;
    text-align: center;
    font: 12px/24px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
    overflow: hidden;
}
.first_right .btn{
    width: 100%;
    margin: 6px auto;
    height: 22px;
    overflow: hidden;
    text-align: center;
}
.first_right .btn .regiser{
    width: 68px;
    height: 20px;
    border: 1px solid #F90;
    color: #ffa114;
    line-height: 20px;
    margin-left: 10px;
    float: left;
}
.first_right .btn .superhy{
    width: 70px;
    height: 22px;
    line-height: 22px;
    background: url(../img/index.png) -295px -251px;
    vertical-align: middle;
    margin-right: 11px;
    float: right;
}
.first_right .enter{
    width: 150px;
    height: 26px;
    margin: 0 10px;
}
.first_right .enter .yunzuan{
    float: left;
    width: 75px;
    height: 26px;
    color: #333;
    text-align: center;
    text-decoration: none;
    font: 12px/24px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
}
.first_right .enter .yunzuan div{
    width: 15px;
    height: 15px;
    float: left;
    margin-top: 6px;
    margin-left: 3px;
    background: url(../img/index.png) -113px 0;
}
.first_right .enter .quan{
    float: left;
    width: 75px;
    height: 26px;
    color: #333;
    text-align: center;
    text-decoration: none;
    font: 12px/24px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
}
.first_right .enter .quan div{
    width: 15px;
    height: 15px;
    float: left;
    margin-top: 6px;
    margin-left: 10px;
    background: url(../img/index.png) -88px 0;
}
.first_right .toutiao{
    width: 150px;
    height: 97px;
    overflow: hidden;
    margin: 9px 10px;
    font: 12px/20px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
}
.first_right .toutiao .clearfix{
    width: 150px;
    height: 192px;
}
.first_right .toutiao .clearfix li{
    width: 150px;
    height: 48px;
}
.first_right .toutiao .clearfix li a{
    margin-right: 5px;
    color: #F60;
    font-size: 12px;
}
.first_right .toutiao .clearfix li a i{
    color: #000;
    font-size: 12px;
}
.first_right .toutiao .clearfix li:hover a i{
    color: #F60;
}
.first_right .kuaijie{
    width: 170px;
    height: 145px;
    overflow: hidden;
    border-top: 1px solid #f2f2f2;
}
.first_right .kuaijie li{
    width: 56px;
    height: 72px;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #f2f2f2;
    float: left;
}
.first_right .kuaijie li:nth-child(3),.first_right .kuaijie li:last-child{
    border-width: 0 0 1px 0;
}
.first_right .kuaijie li a{
    width: 100%;
    height: 62px;
    padding-top: 16px;
    padding-bottom: 12px;
    text-align: center;
}
.first_right .kuaijie li a i{
    font-size: 24px;
    color: #f90;
}
.first_right .kuaijie li a p{
    color: #333;
    font-family: "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
}
.first_right .kuaijie li a p:hover{
    color: #f90;
}
.banner_nav{
    width: 224px;
    height: 20px;
    position: absolute;
    left: 488px;
    bottom: 22px;
    display: flex;
    justify-content: space-between;
}
.banner_nav a{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
}
.banner_nav a:hover{
    background-color: #FE920C;
}
.banner_nav .active{
    background-color: #FE920C;
}

.btn_left{
    width: 30px;
    height: 64px;
    position: absolute;
    left: 0;
    top: 42%;
    background: rgba(0,0,0,0.2) url(../img/index.png) -120px -146px ;
    display: none;
    cursor: pointer;
}
.banner_img:hover .btn_left{
    display: block;
}
.btn_right{
    width: 30px;
    height: 64px;
    position: absolute;
    right: 0;
    top: 42%;
    background: rgba(0,0,0,0.2) url(../img/index.png) -82px -146px ;
    z-index: 10;
    display: none;
    cursor: pointer;
}

.banner_img:hover .btn_right{
    display: block;
}

/*banner结束*/
/*大聚会开始*/
.ju-floor{
    width: 1190px;
    height: auto;
    padding-top: 20px;
    margin: 0 auto;
}
.ju-floor .title{
    width: 100%;
    height: 43px;
    border-bottom: 2px solid #dd2726;
}
.ju-floor .title h5{
    float: left;
    width: 175px;
    padding: 0 0 0 15px;
    height: 43px;
    background: #dd2726;
    color: #FFF;
    font: bold 20px/38px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
}
.ju-floor .title h5 i{
    display: inline-block;
    width: 93px;
    height: 13px;
    margin: 4px 0 0 5px;
    background: url(../img/index.png) 0 -124px;
}
.ju-floor .title h6{
    width: 100px;
    height: 43px;
    text-align: right;
    line-height: 43px;
    font-size: 14px;
    padding-right: 7px;
    margin-left: 61px;
    float: left;
}
.ju-floor .title h6 i{
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url(../img/index.png) -192px -100px;
}
.ju-floor .title h6 .a1{
    background: url(../img/index.png) -214px -100px;
    display: inline-block;
    width: 14px;
    height: 14px;
}
.ju-floor .title .active{
    font-weight: bold;
    color: #dd2726;
    border-bottom: 4px solid #dd2726;
    box-sizing: border-box;
}
.ju-floor .title a{
    float: right;
    padding: 0 5px;
    height: 24px;
    margin: 12px 10px 0 0;
    color: #FFF;
    font: 12px/24px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
    background: #db2726;
    text-decoration: none;
    text-align: center;
    position: relative;
}
.ju-floor .title a .left{
    width: 10px;
    height: 24px;
    position: absolute;
    left: -10px;
    top: 0;
    background: url(../img/index.png) -134px -100px;
}
.ju-floor .title a .right{
    width: 10px;
    height: 24px;
    position: absolute;
    right: -10px;
    top: 0;
    background: url(../img/index.png) -169px -100px;
}
.ju-con{
    width: 100%;
    height: 300px;
    background: #FFF;
}
.jv-tab{
    width: 1000px;
    height: 280px;
    padding-top: 20px;
    float: left;
    position: relative;
}
.jv-tab ul{
    display: none;
}
.jv-tab .active{
    display: block;
}
.jv-tab li{
    width: 200px;
    height: 280px;
    float: left;
    position: relative;
}
.jv-tab li img:first-child{
    width: 160px;
    height: 160px;
    margin: 0 20px;
}
.jv-tab li:hover img:first-child{
    transform: scale(1.03);
}

.jv-tab li .m1{
    width: 36px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 20px;
}
.jv-tab li .w1{
    display: block;
    margin: 10px 20px 3px;
    color: #474747;
    font: 12px/18px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
}
.jv-tab li .w1:hover{
    color: #FF6600;
}
.jv-tab li .w2{
    color: #F60;
    margin: 0 20px;
    font: 12px/18px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
}
.jv-tab li .w2 i{
    font-size: 10px;
}
.jv-tab li .w2 del{
    color: #999;
}
.ju-con .a1right{
    display: block;
    width: 180px;
    height: 270px;
    margin: 10px 10px 0 0;
    float: right;
    background-color: red;
}
.ju-con .a1right img{
    width: 100%;
    height: 100%;
}
/*大聚会结束*/
/*好货区开始*/
.second{
    width: 1190px;
    height: 427px;
    margin: 20px auto;
    position: relative;
}
.goods{
    width: 390px;
    height: 427px;
    background-color: #fff;
    margin-right: 10px;
    float: left;
}
.goods:last-child{
    margin-right: 0;
}
.goods .title{
    width: 100%;
    height: 45px;
    background-color: #3B8C94;
    line-height: 45px;
}
.goods .title h5{
    float: left;
    padding-left: 15px;
    font-size: 18px;
    color: #FFF;
}
.goods .title a{
    float: right;
    margin-right: 10px;
    font-size: 12px;
    color: #FFF;
}
.goods .content{
    width: 369px;
    height: 362px;
    margin: 10px auto 0;
}
.goods .content ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.goods .content li{
    width: 184px;
    height: 120px;
    border-right: 1px solid #E7E7E7;
    border-bottom: 1px solid #E7E7E7;
    box-sizing: border-box;
    position: relative;
}
.goods .content li:nth-child(2n){
    border-right: none;
}
.goods .content li:nth-child(n+5){
    border-bottom: none;
}
.goods .content li p{
    width: 72px;
    height: 40px;
    overflow: hidden;
    margin: 14px 0 0 15px;
    color: #333;
    font: 14px/20px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
}
.goods .content li span{
    display: inline-block;
    width: 72px;
    height: 16px;
    overflow: hidden;
    color: #999;
    margin: 10px 0 0 15px;
    font: 12px/16px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB"
}
.goods .content li img{
    position: absolute;
    display: block;
    width: 90px;
    height: 90px;
    bottom: 3px;
    right: 3px;
}
/*好货区结束*/
/*特色推荐开始*/
.feature .title{
    background-color: #E66A07;
    position: relative;
}
.feature .title em{
    position: absolute;
    left: 87px;
    bottom: 8px;
    width: 53px;
    height: 53px;
    background: url(../img/phb-logo.png);
}
.feature .content{
    width: 369px;
    height: 361px;
    margin: 10px auto 0;
    overflow: hidden;
}
.feature .content li{
    width: 184px;
    height: 180px;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #e7e7e7;
}
.feature .content li:nth-child(n+3){
    border-bottom: none;
}
.feature .content li p{
    float: left;
    padding: 0 8px;
    height: 20px;
    overflow: hidden;
    margin: 14px 0 0 8px;
    background: #e66a07;
    border-radius: 20px;
    color: #fff;
    font-size: 14px;
}
.feature .content li span{
    float: left;
    width: 144px;
    height: 16px;
    overflow: hidden;
    color: #999;
    margin: 6px 0 0 16px;
    font-size: 12px;
}
.feature .content li img{
    width: 90px;
    height: 90px;
    top: 60px;
    left: 5px;
}
.feature .content li img:last-child{
    float: left;
    width: 89px;
    top: 60px;
    left: 94px;
}
/*特色推荐结束*/
/*排行版开始*/
.rank{
    position: relative;
    overflow: hidden;
}
.rank .title{
    background-color: #B62323;
}
.rank .content{
    position: absolute;
    left: 399px;
    top: 45px;
    width: 369px;
    height: 350px;
    overflow: hidden;
}
.rank .content.active{
    left: 15px;
}
.rank .content div{
    width: 369px;
    height: 175px;
    position: relative;
}
.rank .content div p{
    position: absolute;
    left: 0;
    top: 14px;
    color: #FFF;
    background: #c72c2c;
    border-radius: 12px;
    padding: 0 5px;
    height: 22px;
    font-size: 14px;
}
.rank .content ul{
    position: relative;
    width: 369px;
    height: 166px;
    padding-top: 14px;
}
.rank .content li{
    position: relative;
    float: left;
    width: 123px;
    height: 166px;
    border-right: none;
}
.rank .content li img{
    display: block;
    width: 80px;
    height: 80px;
    top: 28px;
    left: 23px;
}
.rank .content li dl{
    width: 100px;
    height: 28px;
    color: #333;
    margin-top: 110px;
    margin-left: 11px;
    font-size: 12px;
}
.rank .content li span{
    margin: 8px 0 0 11px;
    color: #b62323;
    font-size: 14px;
}
.rank .content li span i{
    font-size: 12px;
}
.rank .content li dt{
    position: absolute;
    width: 23px;
    height: 23px;
    top: 28px;
    right: 22px;
    background: url(../img/index.png) -2px -240px;
    color: #FFF;
    text-align: center;
}
.rank .circle{
    width: 54px;
    height: 8px;
    position: absolute;
    left: 50%;
    bottom: 5px;
    margin-left: -27px;
    display: flex;
    justify-content: space-between;
}
.rank .circle div{
    width: 8px;
    height: 8px;
    background: #D8D8D8;
    border-radius: 50%;
    cursor: pointer;
}
.rank .circle div.active{
    background: #C72C2C;
}
.rank .left,.rank .right{
    width: 30px;
    height: 54px;
    font-size: 25px;
    color: #fff;
    background: rgba(0,0,0,.2);
    position: absolute;
    top: 50%;
    margin-top: -7px;
    line-height: 54px;
    text-align: center;
    display: none;
    cursor: pointer;
}
.rank:hover .left{
    display: block;
}
.rank:hover .right{
    display: block;
}
.rank .left{
    left: 0;
}
.rank .right{
    right: 0;
}
/*排行版结束*/
/*特卖开始*/
.three{
    width: 1190px;
    height: 427px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}
.goods1{
    width: 390px;
    height: 100%;
    background: #FFF;
}
.goods1 .title{
    width: 100%;
    height: 45px;
    background-color: #C43D7E;
    line-height: 45px;
}
.goods1 .title h5{
    float: left;
    padding-left: 15px;
    font-size: 18px;
    color: #FFF;
}
.goods1 .title a{
    float: right;
    margin-right: 10px;
    font-size: 12px;
    color: #FFF;
}
.goods1 .content{
    width: 370px;
    height: 362px;
    margin: 10px auto 0;
}
.goods1 .content ul{
}
.goods1 .content li{
    width: 184px;
    height: 120px;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #e7e7e7;
    float: left;
    position: relative;
}
.goods1 .content li:nth-child(2)
,.goods1 .content li:nth-child(3)
,.goods1 .content li:nth-child(5){
    border-right: none;
}
.goods1 .content li:nth-child(n+4){
    border-bottom: none;
}

.goods1 .content li span{
    display: block;
    width: 72px;
    height: 40px;
    overflow: hidden;
    margin: 14px 0 0 15px;
    color: #333;
    font-size: 14px;
    word-break: break-all;
}
.goods1 .content li span:last-of-type{
    width: 72px;
    height: 16px;
    overflow: hidden;
    color: #999;
    margin: 10px 0 0 15px;
    font-size: 12px;
}
.goods1 .content li img{
    position: absolute;
    display: block;
    width: 90px;
    height: 90px;
    bottom: 3px;
    right: 3px;
}
.goods1 .content .first{
    width: 184px;
    height: 241px;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #e7e7e7;
    float: left;
}
.goods1 .content .first p{
    color: #333;
    font-size: 14px;
    margin: 14px 0 0 15px;
}
.goods1 .content .first p:last-of-type{
    color: #c43e7e;
    font-size: 12px;
    margin: 10px 0 0 15px;
}
.goods1 .content .first img{
    width: 160px;
    height: 160px;
    left: 13px;
    top: auto;
    right: auto;
    bottom: 0;
}
.sea .title{
    background-color: #6D55BD;
}
.life .title{
    background-color: #325BB5;
}
/*特卖结束*/

/*<!--广告区域开始-->*/
.advert{
    width: 1190px;
    height: 530px;
    margin: 0 auto;
    overflow: hidden;
}
.advert_left{
    width: 790px;
    height: 540px;
    float: left;
}
.advert_con1{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.advert_con1 li{
    width: 390px;
    height: 170px;
    background: #F5C364;
}
.advert_con1 a{
    display: block;
    width: 100%;
    height: 126px;
    padding-top: 44px;
    position: relative;
}
.advert_con1 a span{
    display: flex;
    width: 78px;
    height: 2px;
    margin-left: 35px;
    background: #fff;
}
.advert_con1 a .line2{
    width: 154px;
}
.advert_con1 a p{
    color: #FFF;
    width: 160px;
    font-size: 20px;
    margin-left: 35px;
    padding: 5px 0
}
.advert_con1 a .p1{
    font-size: 14px;
}
.advert_con1 a img{
    width: 170px;
    height: 170px;
    position: absolute;
    right: 10px;
    bottom: 0;
}
.advert_con1 a:hover img{
    animation: gg 2s;
}
@keyframes gg {
    from{
        right: 10px;
    }
    to{
        right: 20px;

    }
}
.advert_right1{
    width: 390px;
    height: 350px;
    float: right;
    margin-bottom: 10px;
}
.advert_right1 .title{
    width: 100%;
    height: 45px;
    background: #3f3435;;
    color: #fff;
    font-size: 18px;
    padding-left: 15px;
    line-height: 45px;
}
.advert_right1 .content1{
    width: 100%;
    height: 227px;
    position: relative;
    background: url("../img/index.png") -193px 0;
}
.advert_right1 .content1 span{
    display：block;
    width: 50px;
    height: 50px;
    background: url("../img/index.png") -190px 0;
    position: absolute;
    left: 170px;
    top: 80px;
}
.advert_right1 .content1 span:hover{
    background: url("../img/index.png") -391px 0;
}
.advert_right1 .content1 li{
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}
.advert_right1 .content1 li.active{
    display: block;
}
.advert_right1 .content1 img{
    width: 100%;
}
.advert_right1 .content2{
    width: 100%;
    height: 73px;
    position: relative;
    margin-top: 5px;
    overflow: hidden;
}
.advert_right1 .content2 ul{
    position: absolute;
    left: 100%;
    top: 0;
    width: 100%;
    height: 100%;
}
.advert_right1 .content2 ul.active{
    left: 0;
}
.advert_right1 .content2 ul li{
    float: left;
    margin-left: 3px;
    position: relative;
}
.advert_right1 .content2 ul li span {
    display：block;
    width: 25px;
    height: 25px;
    background: url("../img/index.png") -252px 0;
    position: absolute;
    left: 51px;
    top: 20px;
}
.advert_right1 .content2 ul li span:hover{
    background: url("../img/index.png") -252px -28px;
}
.advert_right1 .content2 ul li:last-of-type{
    margin: 0;
 }
.advert_right1 .content2 img{
    width: 128px;
    height: 73px;
}
.advert_right1>.content2>.left{
    position: absolute;
    width: 14px;
    height: 100%;
    background: rgba(0,0,0,.3);
    left: 0;
    top: 0;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    line-height: 73px;
    text-align: center;
    display: none;
    cursor: pointer;
}
.advert_right1 .content2 .right{
    position: absolute;
    width: 14px;
    height: 100%;
    background: rgba(0,0,0,.3);
    right: 0;
    top: 0;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    line-height: 73px;
    text-align: center;
    display: none;
    cursor: pointer;
}
.advert_right1 .content2:hover .left{
    display: block;
}
.advert_right1 .content2:hover .right{
    display: block;
}
.advert_right2{
    width: 390px;
    height: 170px;
    float: right;
    display: flex;
    justify-content: space-between;
}
.advert_right2 .left,.advert_right2 .right{
    width: 190px;
    height: 100%;
    padding-top: 18px;
    cursor: pointer;
    position: relative;
}
.advert_right2 .left{
    background: -webkit-gradient(linear,0 0,right 0,from(#6ea166),to(#9fc766));
}
.advert_right2 .right{
    background: -webkit-gradient(linear,0 0,right 0,from(#4023bb),to(#5871e9));
}
.advert_right2 a>p{
    font-size: 20px;
    color: #fff;
    text-align: center;
}
.advert_right2 a>span{
    display: block;
    font-size: 14px;
    color: #fff;
    line-height: 26px;
    text-align: center;
}
.advert_right2 a>img{
    position: absolute;
    height: 100px;
    left: 0;
    right: 0;
    top: 70px;
    transition: all 1s;
}
.advert_right2 a>img:hover{

}
/*<!--广告区域结束-->*/

/*热门手机开始*/
.four{
    width: 1190px;
    height: 565px;
    background: #f2f2f2;
    margin: 20px auto 0;
    display: flex;
    justify-content: space-between;
}
.mobile{
    width: 590px;
    height: 565px;
    background: #fff;
    border-top: 2px solid #33AE75;
    box-shadow: 0 0 8px #eee;
}
.mobile .title{
    width: 100%;
    height: 45px;
    color: #333;
    background-color: #F0F7F4;
}
.mobile .title_name{
    float: left;
    width: 190px;
    height: 45px;
    background: #33ae75;
    line-height: 45px;
}
.mobile .title_name p{
    font-size: 18px;
    margin-left: 15px;
    color: #FFF;
    float: left;
}
.mobile .title_name i{
    font-size: 20px;
    margin-left: 10px;
    color: #fff;
}
.mobile .title_word{
    float: right;
    margin: 14px 18px 0 0;
}
.mobile .title_word a{
    float: right;
    margin-left: 20px;
    font: 14px/20px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
    color: #666;
    /*line-height: 45px;*/
}
.mobile .title_word a:hover{
    color: red;
}
.mobile .content{
    width: 100%;
    height: 360px;
}
.mobile .content .left_img{
    float: left;
    position: relative;
    width: 190px;
    height: 360px;
    cursor: pointer;
    background-color: red;
}
.mobile .content .left_img img{
    width: 190px;
    height: 360px;
}
.mobile .content .left_img .cover{
    position: absolute;
    width: 190px;
    height: 90px;
    left: 0;
    bottom: 0;
    opacity: .6;
    background: #33ae75;
}
.mobile .content .left_img .cover p{
    color: #FFF;
    font: bold 20px/30px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
    margin: 21px 14px 0;
}
.mobile .content .left_img .cover span{
    color: #FFF;
    font: bold 12px/22px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
    margin: 0 14px;
}
.mobile .img_list{
    position: relative;
    float: left;
    width: 400px;
    height: 360px;
    overflow: hidden;
}
.mobile .img_list li{
    float: left;
    width: 199px;
    height: 179px;
    border-width: 0 0 1px 1px;
    border-color: #EEE;
    border-style: solid;
    overflow: hidden;
}
.mobile .img_list li p{
    width: 180px;
    height: 24px;
    overflow: hidden;
    text-align: center;
    margin: 14px auto 0;
    font: 16px/24px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
    color: #333;
}
.mobile .img_list li span{
    display: block;
    width: 180px;
    height: 20px;
    color: #33AE75;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
    font: 12px/20px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";;
}
.mobile .img_list li img{
    display: block;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    transition: transform .5s;
}
.mobile .img_list li:hover img{
    transform: scale(1.1);
}
.bottom_list{
    width: 100%;
    height: 109px;
    overflow: hidden;
    border-bottom: 1px solid #EEE;
}
.bottom_list li{
    position: relative;
    float: left;
    width: 200px;
    height: 109px;
    border-right: 1px solid #EEE;
    box-sizing: border-box;
}
.bottom_list .first{
    width: 189px;
    height: 109px;
    border-right: 1px solid #EEE;
}
.bottom_list li p{
    width: 70px;
    color: #333;
    height: 24px;
    margin-top: 27px;
    padding-left: 20px;
    overflow: hidden;
    font: 14px/24px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
}
.bottom_list li span{
    width: 72px;
    height: 22px;
    color: #33AE75;
    padding-left: 20px;
    overflow: hidden;
    font: 12px/22px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
}
.bottom_list li img{
    position: absolute;
    top: 15px;
    right: 15px;
    display: block;
    width: 80px;
    height: 80px;
    transition: transform .5s;
}
.bottom_list li:hover img{
    transform: scale(1.1);
}
.brand-logo{
    width: 100%;
    height: 40px;
    overflow: hidden;

}
.brand-logo li{
    width: 80px;
    height: 30px;
    margin: 9px 9px 0;
    float: left;
}
.brand-logo li img{
    width: 80px;
    height: 30px;
}
.office{
    border-color: #2EABA3;
}
.office .title_name{
    background-color: #2EABA3;
}
.office .content .left_img .cover{
    background-color: #2EABA3;
}
/*热门手机结束*/

/*家电开始*/
.electrical{
    width: 1190px;
    height: 455px;
    border-color: #5f6cb7;
    box-shadow: 0 0 8px #eee;
    background: #FFF;
    border-top: 2px solid #5f6cb7;
    margin: 20px auto 0;
}
.electrical .title{
    width: 100%;
    height: 45px;
    color: #333;
    background-color: #F0F7F4;
}
.electrical .title_name{
    float: left;
    width: 190px;
    height: 45px;
    background: #5f6cb7;
    line-height: 45px;
}
.electrical .title_name p{
    font-size: 18px;
    margin-left: 15px;
    color: #FFF;
    float: left;
}
.electrical .title_name i{
    font-size: 20px;
    margin-left: 10px;
    color: #fff;
}
.electrical .title_word{
    float: right;
    margin: 14px 18px 0 0;
}
.electrical .title_word a{
    float: right;
    margin-left: 20px;
    font: 14px/20px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
    color: #666;
    /*line-height: 45px;*/
}
.electrical .title_word a:hover{
    color: red;
}
.electrical .content{
    width: 100%;
    height: 360px;
}
.electrical .content .left_img{
    float: left;
    position: relative;
    width: 190px;
    height: 360px;
    cursor: pointer;
    background-color: red;
}
.electrical .content .left_img img{
    width: 190px;
    height: 360px;
}
.electrical .content .left_img .cover{
    position: absolute;
    width: 190px;
    height: 90px;
    left: 0;
    bottom: 0;
    opacity: .6;
    background: #33ae75;
}
.electrical .content .left_img .cover p{
    color: #FFF;
    font: bold 20px/30px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
    margin: 21px 14px 0;
}
.electrical .content .left_img .cover span{
    color: #FFF;
    font: bold 12px/22px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
    margin: 0 14px;
}
.electrical .img_list{
    position: relative;
    float: left;
    width: 400px;
    height: 360px;
    overflow: hidden;
}
.electrical .img_list li{
    float: left;
    width: 199px;
    height: 179px;
    border-width: 0 0 1px 1px;
    border-color: #EEE;
    border-style: solid;
    overflow: hidden;
}
.electrical .img_list li p{
    width: 180px;
    height: 24px;
    overflow: hidden;
    text-align: center;
    margin: 14px auto 0;
    font: 16px/24px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
    color: #333;
}
.electrical .img_list li span{
    display: block;
    width: 180px;
    height: 20px;
    color: #33AE75;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
    font: 12px/20px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";;
}
.electrical .img_list li img{
    display: block;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    transition: transform .5s;
}
.electrical .img_list li:hover img{
    transform: scale(1.1);
}
.electrical .middle-img{
    width: 200px;
    height: 360px;
    float: left;
    position: relative;
    overflow: hidden;
}
.electrical .middle-img img{
    position: relative;
    width: 200px;
    height: 360px;
    z-index: 10;
}
.electrical .middle-img p{
    display: block;
    position: absolute;
    font-size: 20px;
    color: #5f6cb7;
    top: 15px;
    left: 21px;
    z-index: 10;

}
.electrical .middle-img span{
    position: absolute;
    left: 21px;
    top: 41px;
    z-index: 10;
    color: #5f6cb7;
}

/*家电结束*/

/*智能数码开始*/

/*智能数码结束*/

/*猜你喜欢开始*/
.love{
    width: 1190px;
    height: auto;
    margin: 20px auto 0;
}
.love .title{
    width: 1190px;
    height: 22px;
    line-height: 22px;
    margin-bottom: 12px;
}
.love .title .border{
    float: left;
    width: 3px;
    height: 20px;
    background: #fe9901;
}
.love .title h5{
    width: 72px;
    height: 20px;
    font-size: 18px;
    margin-left: 12px;
    float: left;
}
.love .content{
    width: 1190px;
    height: 340px;
    background-color: #fff;
    border: 1px solid #eee;
    box-sizing: border-box;
}

.love .content a{
    width: 237px;
    height: 340px;
    border-right: 1px solid #eee;
    box-sizing: border-box;
    float: left;
}
.love .content a:last-of-type{
    border-right: 0;
}
.love .content a img{
    width: 200px;
    height: 200px;
    margin: 20px auto 0;
    transition: all 1s;
}
.love .content a:hover img{
    transform: scale(1.05,1.05);
}
.love .content a p{
    width: 200px;
    height: 40px;
    font-size: 12px;
    color: #333;
    margin: 15px auto 5px;
}
.love .content a:hover p{
    color: #FF6600;
}
.love .content a span{
    width: 217px;
    height: 20px;
    font-size: 16px;
    color: #F60;
    margin-left: 20px;
}
.love .content a  i{
    font-size: 10px;
}
/*猜你喜欢结束*/
/*尾部开始*/
.footer{
    width: 1190px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}
.end{
    width: 112px;
    height: 22px;
    font-size: 18px;
    text-align: center;
    line-height: 22px;
    color: #CCC;
    margin: 15px auto;
    position: relative;
}
.line_left{
    width: 97px;
    height: 1px;
    background: #CCC;
    position: absolute;
    left: -97px;
    top: 11px;
}
.line_right{
    width: 97px;
    height: 1px;
    background: #CCC;
    position: absolute;
    right: -97px;
    top: 11px;
}
.ng_ser_box{
    width: 100%;
    height: 279px;
    border-top: 1px solid #e7e7e7;
}
.ng_promise{
    width: 1250px;
    height: 73px;
    border-bottom: 1px solid #eaeaea;
    padding: 12px 0;
}
.ng_promise dl{
    width: 250px;
    height: 48px;
    color: #333;
    float: left;
}
.ng_promise dl dt a img{
    width: 48px;
    height: 48px;
    color: #333;
    float: left;
}
.ng_promise dl dd a{
    color: #333;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    margin-left: 10px;
    float: left;
}
.ng_promise dl dd p{
    width: 180px;
    height: 24px;
    color: #545454;;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    margin-left: 10px;
    float: left;
}
.ng-help-box{
    width: 1050px;
    height: 180px;
    float: left;
}
.ng-help-box li{
    width: 210px;
    height: 160px;
    float: left;
}
.ng-help-box li h2{
    width: 100%;
    height: 35px;
    line-height: 40px;
    font-weight: 700;
    color: #545454;
    font-size: 14px;
}
.ng-help-box li a{
    width: 100%;
    height: 22px;
    color: #545454;
    font-size: 12px;
    line-height: 22px;
}
.ng-help-box li a:hover{
    color: red;
}
.ng-app{
    width: 90px;
    height: 180px;
    float: left;
}
.ng-app h3{
    width: 100%;
    line-height: 40px;
    font-weight: 700;
    color: #545454;
    height: 35px;
    font-size: 14px;
    margin-bottom: 5px;
    overflow: hidden;
}
.ng-app a{
    width: 100%;
    height: 22px;
    color: #545454;
    font-size: 12px;
    line-height: 22px;
}
.ng-app a:hover{
    color: red;
}
.ng-footer{
    width: 100%;
    padding-top: 15px;
    background-color: #fff;
}
.ng-con{
    width: 1190px;
    height: 160px;

    color: #333;
    margin: 0 auto;
}
.ng-con p{
    text-align: center;
}
.ng-con p a{
    display: inline-block;
    color: #666;
    line-height: 25px;
    font-size: 12px;
    text-align: center;
}
.ng-con p span{
    color: #888;
    padding: 0 8px;
    line-height: 25px;
    font-size: 12px;
    text-align: center;
}
.ng-con div{
    text-align: center;
    margin-top: 5px;
}
.ng-con div a{
    display: inline-block;

}
/*尾部结束*/
/*左固定开始*/
.left-fixed{
    width: 70px;
    height: 319px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1000;
    right: auto;
    margin-left: -670px;
    margin-top: -159.5px;
    display: none;
}
.left-fixed.active{
    display: block;
}
.floatbar{
    position: relative;
    width: 68px;
    padding-top: 9px;
    border: 1px solid #DDD;
    background: #f8f8f8;
}
.float-bg{
    position: absolute;
    width: 45px;
    height: 37px;
    left: 13px;
    top: -29px;
    z-index: 1;
    background: url(../img/index.png) -302px -80px;
}
.left-fixed ul{
    width: 68px;
    background: #f8f8f8;
    color: #333;
}
.left-fixed li{
    cursor: pointer;
}
.left-fixed li a{
     text-align: center;
     line-height: 28px;
     color: #333;
    font-size: 12px;
    border-bottom: 1px solid #E8E8E8;
}
.left-fixed li.active{
    background: orangered;
}
.left-fixed li:hover{
    background-color: #FF9900;
}
.left-fixed li:hover a{
    color: #fff;
}
.left-fixed .floor1.active{
    background-color: #FF9900;
    color: #fff;
}
.left-fixed .jump{
    display: block;
    width: 68px;
    height: 18px;
    background: #000 url(../img/index.png) -230px -183px;
    text-align: center;
}
/*左固定结束*/
/*右固定开始*/
.right-fixed{
    width: 35px;
    height: 650px;
    font-size: 12px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000090;
}
.right-fixed .bgcolor{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 4;
    width: 35px;
    height: 100%;
    background-color: #383838;
}
.right-fixed .shop{
    top: 30%;
    height: 307px;
    position: absolute;
    z-index: 5;
    left: 0;
}
.right-fixed .shop a{
    width: 100px;
    margin-bottom: 13px;
}
.right-fixed .shop a i{
    font-size: 18px;
    color: #FF9900;
    margin-left: 7px;
    line-height: 22px;
}
.right-fixed .shop span{
    width: 25px;
    display: block;
    font-size: 16px;
    color: #fff;
    margin: 10px 7px;
}
.right-fixed .shop p{
    width: 25px;
    height: 20px;
    border-radius: 5px;
    margin-left: 5px;
    background-color: #DD0000;
    text-align: center;
    line-height: 20px;
}
.right-fixed .shop .top{
    display: block;
    position: relative;
    width: 35px;
    height: 30px;
    margin-left: 10px;
    z-index: 2;
    cursor: pointer;
    background: url(../img/sidebaricon.png) no-repeat -10px -191px;
}
.right-fixed .ab1:hover{
    background-color: #FF9900;
}
.right-fixed .abb{
    color: #fff;
}
/*右固定结束*/

/*<!--固定搜索栏开始-->*/
.fixed_header{
    width: 100%;
    height: 50px;
    background: #fff;
    position: fixed;
    left: 0;
    top: -50px;
    z-index: 10;
    box-shadow: 0 0 2px 2px #ccc;
}
.fixed_header .box{
    width: 1190px;
    height: 100%;
    margin: 0 auto;
    line-height: 100%;
    padding-top: 6px;
}
.fixed_header .searchbox{
    width: 550px;
    height: 40px;
    margin: 0 auto;
    background: green;
    position: relative;
}
.fixed_header .searchbox input{
    display: block;
    width: 420px;
    height: 100%;
    margin-left: 0;
    border: 2px solid #FF9900;
    box-sizing: border-box;
    padding-left: 30px;
    float: left;
}
.fixed_header .searchbox .btn{
    width: 130px;
    height: 100%;
    background: #FF9900;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-family: 'MicroSoft YaHei';
    font-size: 18px;
    float: left;
}
.fixed_header .searchbox i{
    font-size: 14px;
    color: #CCCED7;
    position: absolute;
    background-color: #fff;
    left: 8px;
    top: 13px;
    z-index: 0;
}



/*<!--固定搜索栏结束->*/